.window_container{	
	width : auto;
	height: 620px;
	background-color:#F6F8F8;	
}

.topic{
	margin-left: 50px;
	padding-top: 15px;
	font-size: 25px;
	color: #0EB3B3;
}

.form_table{
	margin: 20px 0px 0px 40px;	
	border:0px solid #F6F8F8;	
	border-collapse:collapse;
	background-color:;	
	display: inline-block;
}

tr.form_table_row{	
	height: 20px;
}

td.form_table_row_description{	
	padding-left: 10px;
}

input.form_table_row_input{
	margin-left: 10px;
	border:1px solid #CDCDCD;	
	border-radius: 8px;
	padding: 3px 10px;	
}

input.form_table_row_input_radio{
	margin-left: 10px;	
}

.form_table_row_textarea{
	margin-left: 10px;
	border-radius: 8px;
	padding: 3px 5px;
	border-color:#CDCDCD;
	color:;	
}

.form_table_row_dropdown{
	margin-left: 10px;
	border:1px solid #CDCDCD;
	border-collapse: collapse;
	border-radius: 8px;
	padding: 3px 10px;	
	width:110px;
}

.button{
	background-color: #0EB3B3;/*blue*/
	color:white;
	border:none;
	border-radius: 8px;

	padding:8px 16px;
	font-size: 16px;
	margin:;
	text-align: center;
	text-decoration: none;
	display: inline-block;

	transition-duration: 0.4s;
	cursor: pointer;
}

.buttonsubmit{
    background-color: white; 
    color: #0EB3B3; 
    border: 2px solid #0EB3B3;
}

.buttonsubmit:hover{
    background-color: #0EB3B3; 
    color: white;   
}

.buttonview{
    background-color: white; 
    color: #74C82E; 
    border: 2px solid #74C82E;
}

.buttonview:hover{
    background-color: #74C82E; 
    color: white;   
}

input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
    border-color: #0EB3B3;
    border-radius: 8px;
}