.imghome{
	width: 20%;
	height: 20%;

	margin:0px;
	padding:2%;
	border-radius: 0px;	
	border-radius: 0px;

	background-color:;
}

.imghome:hover{
	padding:15px;
	background-color: #ffffff;
	transition: 0.2s;
	border:2px solid red;
}

a.white_link:hover{
	background-color: #ffffff;
}