.imghome{
	width: 200px;
	height: 200px;

	margin:0px;
	padding:20px;
	border-radius: 0px;	
	border-radius: 0px;

	background-color:;
}

.imghome:hover{
	padding:15px;
	background-color: #ffffff;
	transition: 0.2s;
	border:2px solid red;
}