div.navlist{
	display: inline-flex;
	align-items: center;
	width:202px;
	height:620px;
	background-color: #000000;
}

ul.nav{
	list-style-type: none;
	margin:0px;
	padding-top:0px;
}

li.nav{
	color: #808080;
	padding: 5px 20px;
	font-size: 15px;
}

li.nav:hover{
	color: #ffffff;
	padding: 5px 20px;
	font-size: 15px;	
	
	background-color: #4B4B4B;
	
	cursor: pointer;
	width: 100%;	
}

.image{
	width: 25px;
	height: 25px;
	padding-top: 1px;
	margin-right: 20px;
}

.image:hover{
	
}

a:hover{
	font-size: 15px;	
	background-color: #3498DB;
	color: #ffffff;	
	cursor: pointer;
	width: 100%;
}

